body {
	background: #bdbdbd;
	margin: 0;
  }
  .header {
	background: white;
	padding: 10px;
	font-size: 16px;
	display: flex;
	justify-content: center;
  }
  
  header h1 {
	margin: 0;
  }
  
  .post {
	background: white;
	margin: auto;
	margin-top: 40px;
	display: block;
	width: 400px;
	height: 550px;
  }
  
  .post img {
	width: 100%;
  }
  
  .post-header {
	position: relative;
	height: 50px;
  }
  
  .post-header .fa-html5 {
	margin: 2%;
  }
  
  .header-text {
	display: inline;
	position: relative;
	bottom: 55px;
	left: 50px;
	background-color: brown;
  }
  
  .fa-ellipsis-v {
	position: absolute;
	margin-left: 95%;
	bottom: 15px;
  }
  
  .post-footer p {
	margin: 10px;
  }
  .post-footer {
	padding: 5px;
  }
  
  .icons-box {
	margin: 5px;
  }
  
  .guardar-icon {
	position: relative;
	margin-left: 80%;
  }
  